@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
.bar{
  background-color:#DF4C73;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 5px;
}

.topbox {
  min-width: 100%;
  height: 17%;
  display: flex;
  align-items: center;
}

.navbar {
  height: 40px;
  margin-left: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
}

.nav {
  margin-right: 50px;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 14px;
  color: black;
}

.active, .nav:hover {
  color: #DF4C73;
  text-decoration: none;
}

.logout {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #286FB4;
    float: right;
    font-family: Montserrat;
    font-size: 14px;
    position: relative;
    margin-left: auto;
    margin-right: 100px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.logout:hover {
    background-color: #DF4C73;
}

.logouttext, .logouttext:hover{
    color: white;
    text-decoration: none;
    font-family: Montserrat;
}

#logo {
  width: 8%;
  height: 80%;
  margin-left: 60px;
  float: left;
}

.announcebox table{
    width: 100%;
    height: 100%;
}

h2 {
    margin-left: 80px;
    margin-top: 40px;
}

.rentalbox {
    margin: 0 auto;
    width: 80%;
    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-gutter: stable both-edges;
}

.announcebox {
    margin: auto;
    width: 80%;
    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-gutter: stable both-edges;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #CCCCCC;
    overflow: auto;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #b0b0b0;
    border-radius: 8px;
}

.rentalbox table {
    font-family: 'Montserrat';
    max-width: 100%;
}
.rentalbox th {
    font-weight: bolder;
}
.rentalbox button {
    margin-right: 6px;
}
.announcebox table {
    font-family: 'Montserrat';
}
.announcebox th {
    font-weight: bolder;
}
.announcebox button {
    margin-right: 20px;
}

#add {
    width:60px;
    height:60px;
    margin: 0 auto;
    text-align:center;
    font-size: 50px;
    border-radius: 50%;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.addContainer {
    margin: 0 auto;
    width:60px;
    height:60px;
    border-radius: 50%;
    color:white;
    margin-bottom: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.addContainer:hover {
    background-color: #DF4C73;
}

.addAnnounce {
    margin: 0 auto;
    width:60px;
    height:60px;
    border-radius: 50%;
    color:white;
    background-color: #B0DDE4;
    margin-bottom: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.addAnnounce:hover {
    background-color: #DF4C73;
}


#changeicon {
    display: none;
}
#addDetails {
    display: none;
    position:fixed;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width:600px; 
    height:400px;
    background-color:#B0DDE4;
    border-radius: 10px;
    z-index:100000;   
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

#addDetails2 {
    display: none;
    position:fixed;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width:600px; 
    height:400px;
    background-color:#B0DDE4;
    border-radius: 10px;
    z-index:100000;   
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}


#exit{
    float: right;
    margin-top: 10px;
    margin-right: 16px;
}

#exit:hover {
    color: white;
}

.editingRoom{
    color: black;
}

.editContainer{
    width: 40%;
    height: 50%;
    background-color: #B0DDE4;
    border-radius: 10;

}

.modal-fade{
    width: 50%;
}